# Ignore files and directories that should not be committed to version control
# sql session files
*.session.sql

# node modules
node_modules

settings.json

# dist dir for build
dist

# env vars
*.env

*.pem

.vscode